// Please follow the correct prefix -> color, border, background$unbounded-font: 'Unbounded', sans-serif;
$unbounded-font: 'Unbounded', sans-serif;
$worksans-font: 'Work Sans', sans-serif;
$roboto-font: "Roboto", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color_1: #1f1e1f;

$border-white: #ffff;
$border_1: #131312;

$background-white: #fff;
$background-black: #000;
$background_1: #131312;
$background_2: #f3f3f3;