// Please follow the correct prefix -> color, border, background$unbounded-font: 'Unbounded', sans-serif;
$unbounded-font: 'Unbounded', sans-serif;
$worksans-font: 'Work Sans', sans-serif;
$roboto-font: "Roboto", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-1: #374151;
$color-2: #6B7280;
$color-3: #111827;
$color-4: #3246D2;
$color-5: #1F2937;
$color-6: #DBEAFE;
$color-7: #1E40AF;
$color-8: #3B82F6;
$color-9: #F59E0B;
$color-10: #047857;
$color-11: #10B981;
$color-12: #4B5563;
$color-13: #FFF;
$color-14: #007bff;
$color-15: #1f1e1f;

//background color
$background-white: #fff;
$background-black: #000;
$background-1: #FFF;
$background-2: #DC2626;
$background-3: #FFC500;
$background-4: #111827;
$background-5: #F1F4FD;
$background-6: #F9FAFB;
$background-7: #c6cad2;
$background-8: #DBEAFE;
$background-9: #FEF3C7;
$background-10: #D1FAE5;
$background-11: #9D174D;
$background-12: #FEF2F2;
$background-13: #131312;
$background-14: #f3f3f3;

// border color
$border-white: #ffff;
$border-1: #E5E7EB;
$border-2: #FEE2E2;
$border-3: #3246D2;
$border-4: #3B82F6;
$border_5: #131312;